MAILGUN_HOST=SMTP server address from Mailgun
MAILGUN_PORT=Port number
MAILGUN_USERNAME=SMTP username from Mailgun
MAILGUN_PASSWORD=SMTP password from Mailgun
CONTACT_FORM_RECEIVING_EMAIL=Email Id of recipient
