code {
  font-weight: bold;
}

pre code.hljs {
  background: #f3f3f3;
  font-weight: normal;
  font-size: small;
}

.main-wrapper.blogpost img {
  clear: both;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.main-wrapper.blogpost img.blog_author-image {
  width: 2rem;
}

blockquote {
  margin: 1.5rem 0;
  border-left: 0.1875rem solid #000;
  padding: 0.75rem 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.text-rich-text blockquote > p {
  margin-bottom: 0;
}

/* Apply general styling for all tables */
table {
  @apply min-w-full bg-white border border-gray-200 block overflow-x-auto;
  border-collapse: collapse; /* Ensure borders are drawn between cells */
}

thead {
  @apply bg-gray-100 border-b border-gray-200;
}

th {
  @apply px-6 py-3 text-left text-sm font-medium text-gray-500;
  border-right: 1px solid #e5e7eb; /* Add column line */
}

tbody tr {
  @apply bg-white border-b hover:bg-gray-50;
}

td {
  @apply px-6 py-4 text-sm text-gray-700;
  border-right: 1px solid #e5e7eb; /* Add column line */
}

/* Remove the right border for the last column */
th:last-child, td:last-child {
  border-right: none;
}
